<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Hellooooooooooooooooooooo!!!
    <form action="/nonogram" method="get">
    <input type="range" id="gridSize" name="grid_size" min="5" max="100" value="5">
        <span id="gridSizeLabel">5 x 5</span> <!-- Display the current value of the slider -->
        <br>
    <input type="submit" value="Play">
    </form>
</body>
</html>